<div class="container index">
  <h1 class="jumbotron text-center">ALL THE SNACKS</h1>
  <a href="/snacks/new">Add a new snack!</a>
  {{#each snacksIndex}}
  <div class="row">
    <div class="col-lg-2 col-offset-3">
      <img class="index" src="{{this.img_url}}" alt="">
    </div>
    <div class="col-lg-7">
      <h4>{{ this.name }} <span class="rating">{{ this.rating }}</span></h4>
      <p>{{ this.company }}</p>
      <form class="delete" action="/snacks/{{this.id}}?_method=DELETE" method="POST">
        <input type="submit" name="delete" value="Delete">
      </form>
    </div>
  </div>
  {{/each}}
</div>
