<div class="container index">
  <h1 class="jumbotron text-center">JUST ONE SNACK: {{ snack.name }}</h1>
  <a href="/snacks/new">Add a new snack!</a>
  <a href="/snacks">View all snacks!</a>
  <div class="row">
    <div class="col-lg-2 col-offset-3">
      <img class="index" src="{{snack.img_url}}" alt="">
    </div>
    <div class="col-lg-7">
      <h4>{{ snack.name }} <span class="rating">{{ snack.rating }}</span></h4>
      <p>{{ snack.company }}</p>
      <a href="/snacks/{{snack.id}}/edit">Edit Snack</a>
    </div>
  </div>
</div>
